/* HEADER */

header {
	height: 100vh;
	background-image: url('../images/bg_header.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 20px 35px #64D017;
}

header .container {
	height: 100%;
}

#slider {
	height: 100%;
}

#slider img {
	height: 50vh;
}

#backward span, #forward span {
	color: #16AFDE;
}

#sliderMarker a {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
}

#backward span:hover, #forward span:hover {
	color: #25F5E2;
}

#sliderMarker a:hover {
	background-color: #25F5E2!important;
	border: 3px solid #25F5E2!important;
}

/* BIKES RENTAL */

#bikesRental {
}

#mapid {
	height: 550px;
}

#station {
	border: 10px double gray;
	border-radius: 10px;
}

.alert {
	width: 100%;
}

#help {
	margin-bottom: 0px;
}

canvas {
	border: 2px solid black;
}

/* BOOKING  */

#booking {
	height: 450px;
	background-image: url('../images/bg_booking_status.png'), linear-gradient(to bottom, white, aqua);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	word-break: break-all;
}