/* HEADER */

header {
	height: 100vh;
	background-image: url('../images/bg_header.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 20px 35px #64D017;
}

header .container {
	height: 100%;
}

#slider {
	height: 100%;
}

#slider img {
	height: 50vh;
}

#backward span, #forward span {
	color: #9600B2;
}

#slider-marker a {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
}

#backward span:hover, #forward span:hover {
	color: #D600FF;
}

#slider-marker a:hover {
	background-color: #D600FF!important;
	border: 3px solid #D600FF!important;
}

/* BIKES RENTAL */

#bikes_rental {
}

#mapid {
	height: 550px;
}

#rental_form {
	min-height: 100%;
}

canvas {
	border: 2px solid black;
}

/* BOOKING STATUS */

#booking_status {
	background-image: url('../images/bg_rental_status.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}